@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root {
  --primary-color: #fffaf7;
  --secondary-color: #ff6d38;
  --accent-color: #7a78ff;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #e74c3c;
  --btn-accent-bg: #00a652;
  --btn-primary-hover-bg: #8584ff;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
  font-weight: 500;

}

section {
  max-width:100%;
  margin: 2rem 0;
  padding: 2rem;
  text-align: center;
  width: var(--container-width);
}

h1 {
  font-family: var(--font-family-heading);
  font-size: 3em;
  color: var(--light-color)
}
section>h2 {
  font-family: var(--font-family-heading);
  font-size: 2.5em;
  color: var(--heading-color)
}

p {
  color: var();
  line-height: 1.5;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--btn-primary-bg);
  color: var(--light-color);
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-primary-hover-bg);

}
/*!NAV*/
nav {
  max-width: 100%;
  max-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
}

span.orange {
  color: var(--secondary-color)
}
#logo{
  margin-right: auto;
}
#navBtn{
  margin-left: auto;
}
a {
  font-weight: 500;
    color: var(--dark-color);
    text-decoration: inherit
}

.donation{
  background-color: var(--btn-secondary-bg);

}
.donation:hover{
  background-color: var(--btn-secondary-hover-bg);
}

/*!hero*/
#hero{
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#manifeste{
  margin: none;
  height: 50vh;
  width: 100%;
  padding: 2rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/background.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-color);
  z-index: 2;
  position: relative;

}

form{
  width: 60%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadow-xl);
  display: flex;
  justify-content: space-around;

  z-index: 10;
  position: absolute;
  top: 90%;
  left:20%;
  background-color: var(--primary-color);
}

#inputPair,#selectPair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;

  width: 30%;
}